.container{
    display: flex;
    padding: 1rem;
    text-align: center;
    justify-content: space-around;
}


.bangers-regular {

    margin-top: 20px; /* Ajusta el margen superior según sea necesario */
    margin-bottom: 10px;
  
    font-size: 3rem;
    
  }