
.bangers-regular {

  margin-top: 20px; /* Ajusta el margen superior según sea necesario */

  font-size: 3rem;
  
}

.containercards {
  margin-top: 20px; /* Ajusta el margen superior según sea necesario */
}

.container{
  margin-top: 40px;
}
