<!-- Card para mostrar TODOS los productos que se hayan ingresado -->


<div class="container">
  <div class="card" *ngFor="let producto of coleccionBuzos">
    <div class="card-img">
      <img
        src="{{ producto.imagen }}"
        class="card-img-top"
        alt="{{ producto.alt }}"
      />
    </div>
    <div class="card-title">
      <h5 class="card-title">{{ producto.nombre }}</h5>
    </div>
    <div class="card-subtitle">
      {{ producto.descripcion }}
    </div>

    <div class="card-footer">
      <div class="card-price">
        <p class="card-text">{{ producto.precio }}</p>
      </div>
      <button
        class="card-btn"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#modalCardBuzos"
        (click)="mostrarVer(producto)"
      >
        Ver más
      </button>
    </div>
  </div>
</div>
