<div class="container">
    <div class="card" *ngFor="let producto of coleccionMedias">
      <div class="card-img">
        <img
          src="{{ producto.imagen }}"
          class="card-img-top"
          alt="{{ producto.alt }}"
        />
      </div>
      <div class="card-title">
        <h5 class="card-title">{{ producto.nombre }}</h5>
      </div>
      <div class="card-subtitle">
        {{ producto.descripcion }}
      </div>
  
      <div class="card-footer">
        <div class="card-price">
         <h1 class="card-text"><strong>${{ producto.precio }}</strong></h1>
        </div>
        <button
          class="card-btn"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#modalCardMedias"
          (click)="mostrarVer(producto)"
        >
          Ver más
        </button>
      </div>
    </div>
  </div>
